

body{
    background-image: url(Mintlify_background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100vh;
    
}


.logo{
    height: 30px;
}

.logo-png{
   display: flex;
   align-items: center;
   width: 50px;
}

.logo-png img{
    height: 20px;
    margin-right: 5px;
}
h3{
    font-size: 25px;
}
.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
   
}

ul{
    display: flex;
    justify-content: space-between;
}
ul,li{
    list-style: none;
    gap:25px;
    color: white;
    
}

.btns{
    /* flex-direction: row; */
    display: flex;
    gap:17px;
    align-items: center;
}

.design{
    border-radius: 13px;
    padding: 8px 13px;
    border: none;
    color: white;
    background-color: rgb(47, 48, 49);
    color: white;
    
    cursor: pointer;
}

.another-design{
    background-color: white;
    color: black;
    border: none;
    border-radius: 13px;
    padding: 8px 13px;
    cursor: pointer;
}


.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 20px;

}

.hero-section h2{
    font-size: 60px;
    font-weight: bold;
    word-spacing: -8px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-section p{
    word-spacing: -1px;
    line-height: 25px;
    margin-top: -10px;
    font-size: 20px;
}

.emails{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  padding: 6px;
  backdrop-filter: blur(10px);
  margin-top: 30px;
  
}

.emails input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 14px 20px;
  font-size: 16px;
  color: white;
}

.emails button {
    border: none;
    padding: 12px 24px;
    border-radius: 40px;
    background: white;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}